<!DOCTYPE html>
<html>
  <head>
    <title>HnrTech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<img src="https://lh3.googleusercontent.com/proxy/PqEGWG692JmXmKKBT3H_LwX4gIFQkcByO_ZUfdpjxCe8QP9oNpAXgibvGuCu1EOmH5niRYXWEXq6qyHhCX0vh81yt7abnGhUK_168RdyiqZIWN660ZiE" alt="Subscription">
<h2 class="center">Welcome To Ruby Subscription</h2>
    <%= yield %>
  </body>
</html>
